<!-- Contenedor Principal -->
<div class="flex flex-col h-[95vh] overflow-hidden">
  <!-- Contenedor Medio (Sidebar + Contenido) -->
  <div class="flex flex-[0.92] overflow-hidden">
    <!-- Sidebar -->
    <div class="sidebar bg-gray-800 text-white w-1/6 transition-transform duration-300 h-full"
         [ngClass]="{'-translate-x-full': !isSidebarVisible}">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Contenido Principal -->
    <div class="main-content flex-1 p-0.5 bg-yellow-700 shadow rounded h-full overflow-hidden"
         [ngClass]="{'w-full': !isSidebarVisible, 'w-5/6': isSidebarVisible}">
      <app-content></app-content>
    </div>
  </div>

  <!-- Botón para mostrar/ocultar Sidebar -->
  <button (click)="toggleSidebar()" 
          class="toggle-button fixed top-2 left-2 bg-blue-500 text-white px-4 py-2 rounded">
    ☰ Descripcion
  </button>
</div>
