<mat-toolbar  style="background-color: #10B981;"  color="primary" class="bg-green-200 text-white p-4 shadow-lg transform hover:scale-102 transition-transform duration-300 sticky top-0 z-50">
    <span class="text-2xl font-bold">Manual de Prácticas</span>
    <span class="spacer flex-grow"></span>
    <button mat-button class="bg-blue-500 text-white px-4 py-2 rounded-md mx-2 hover:bg-blue-700 transition-colors duration-300 hover:shadow-md transform hover:-translate-y-1">Inicio</button>
    <button mat-button class="bg-blue-500 text-white px-4 py-2 rounded-md mx-2 hover:bg-blue-700 transition-colors duration-300 hover:shadow-md transform hover:-translate-y-1">Ejercicios</button>
    <button mat-button class="bg-blue-500 text-white px-4 py-2 rounded-md mx-2 hover:bg-blue-700 transition-colors duration-300 hover:shadow-md transform hover:-translate-y-1">Contacto</button>
  </mat-toolbar>
  