<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manual de Prácticas</title>
  <link rel="stylesheet" href="dist/styles.css">
</head>
<body>
  <app-toolbar></app-toolbar>
  <div class="container">
    <h1>MANUAL DE PRÁCTICAS</h1>
    <p>Elaborado por: <strong>MARCOS JESÚS RÍOS DURÁN</strong></p>
    <div class="ejercicio">
      <h2>Ejercicio 1:</h2>
      <app-ejercicio-01></app-ejercicio-01>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 2:</h2>
      <app-ejercicio-02></app-ejercicio-02>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 3:</h2>
      <app-ejercicio-03></app-ejercicio-03>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 4:</h2>
      <app-ejercicio-04></app-ejercicio-04>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 5:</h2>
      <app-ejercicio-05></app-ejercicio-05>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 6:</h2>
      <app-ejercicio-06></app-ejercicio-06>
    </div>
  </div>
</body>
</html>
