<app-navbar></app-navbar>
<app-page-container></app-page-container>


<!--
<h1 class="text-3x1 font-bold text-blue-600">
  Tailwind y Angular Material funcionan correctamente
</h1>

<button mat-raised-button color="primary">
  Botón de Angular Material
</button>

<div class="manual">
  <h1 class="title">Manual de Prácticas</h1>
  <p>Elaborado por: <strong>Yáred Amaury Romero Martínez</strong></p>

  <div class="card-container">
    <div class="card">
      <h2>Ejercicio 01</h2>
      <app-ejercicio01></app-ejercicio01>
    </div>

    <div class="card">
      <h2>Ejercicio 02</h2>
      <app-ejercicio02></app-ejercicio02>
    </div>

    <div class="card">
      <h2>Ejercicio 03</h2>
      <app-ejercicio03></app-ejercicio03>
    </div>

    <div class="card">
        <h2>Ejercicio 04</h2>
        <app-ejercicio04></app-ejercicio04>
    </div>

    <div class="card">
        <h2>Ejercicio 05</h2>
        <app-ejercicio05></app-ejercicio05>

    </div>

    <div class="card">
        <h2>Ejercicio 06</h2>
        <app-ejercicio06></app-ejercicio06>
    </div>

  </div>
</div> -->