<!-- sidebar.component.html -->
<div class="sidebar ">
  <h2 class="sidebar-title text-gray-200 text-2xl font-bold mb-4 text-center">Menú</h2> <br>
    <ul class="sidebar-list"> <br>
    <li><a class="sidebar-item block py-2 px-4 text-gray-300 hover:text-yellow-400 hover:bg-gray-600 transition-colors duration-200" routerLink="/page1" routerLinkActive="active">Ejercicio 1</a></li>
    <li><a class="sidebar-item block py-2 px-4 text-gray-300 hover:text-yellow-400 hover:bg-gray-600 transition-colors duration-200" routerLink="/page2" routerLinkActive="active">Ejercicio 2</a></li>
    <li><a class="sidebar-item block py-2 px-4 text-gray-300 hover:text-yellow-400 hover:bg-gray-600 transition-colors duration-200" routerLink="/page3" routerLinkActive="active">Ejercicio 3</a></li>
    <li><a class="sidebar-item block py-2 px-4 text-gray-300 hover:text-yellow-400 hover:bg-gray-600 transition-colors duration-200" routerLink="/page4" routerLinkActive="active">Ejercicio 4</a></li>
    <li><a class="sidebar-item block py-2 px-4 text-gray-300 hover:text-yellow-400 hover:bg-gray-600 transition-colors duration-200" routerLink="/page5" routerLinkActive="active">Ejercicio 5</a></li>
    <li><a class="sidebar-item block py-2 px-4 text-gray-300 hover:text-yellow-400 hover:bg-gray-600 transition-colors duration-200" routerLink="/page6" routerLinkActive="active">Ejercicio 6</a></li>
  </ul>
</div>
